

/* ************** header-wrapper *************** */
.header-wrapper {background-color: #333; color: #f8f8f8; font-family: 'Lato', sans-serif; display: flex; align-items: center;}
.header-wrapper .logo-wrap {font-size: 1.25em; padding-left: .75em; display: flex; align-items: center;}
.header-wrapper .logo-wrap .photo-logo {width: 40px; height: 40px; border-radius: 20px; margin-right: .5em; overflow: hidden; display: none;}
.header-wrapper .navi-wrap {margin-left: auto; display: flex}
.header-wrapper .navi-wrap .navi {padding: 1em 1.25em; cursor: pointer;}
.header-wrapper .navi-wrap .navi:hover {background-color: azure; color: #111;}
.header-wrapper .bt-login {background-color: #571228;}
.header-wrapper .bt-logout {display: none; background-color: #571228;}

/**********************  *********************/


/********************** 반응형 설정 ***********************/
@media (max-width: 1399px) {
  
}

@media (max-width: 1199px) {
  
}

@media (max-width: 991px) {
  
}

@media (max-width: 767px) {
  
}

@media (max-width: 575px) {
  
}