/********************** global init *********************/
.wrapper {max-width: 1167px; margin: 1.5em auto; overflow: hidden;}
.title-wrap {margin-bottom: .5em; border-left: 3px solid #9be67e; padding-left: .5em;}
.title-wrap h2.title {font-size: 1.25em;}

/* ************** header-wrapper *************** */
.header-wrapper {background-color: #333; color: #f8f8f8; font-family: 'Lato', sans-serif; display: flex; align-items: center;}
.header-wrapper .logo-wrap {font-size: 1.25em; padding-left: .75em; display: flex; align-items: center;}
.header-wrapper .logo-wrap .photo-logo {width: 40px; height: 40px; border-radius: 20px; margin-right: .5em; overflow: hidden; display: none;}
.header-wrapper .navi-wrap {margin-left: auto; display: flex}
.header-wrapper .navi-wrap .navi {padding: 1em 1.25em; cursor: pointer;}
.header-wrapper .navi-wrap .navi:hover {background-color: azure; color: #111;}
.header-wrapper .bt-login {background-color: #571228;}
.header-wrapper .bt-logout {display: none; background-color: #571228;}


/********************** recent-wrapper *********************/
.recent-wrapper .list-wrap {border: 1px solid #efefef; padding: .5em; overflow: hidden;}
.recent-wrapper .list-wrap .list-wp {display: flex; align-items: flex-start; width: 101%;}
.recent-wrapper .list-wrap .list-wp .list {width: 19%; margin-right: 1%;}

/********************** list-wrapper *********************/
.list-wrapper {}
.list-wrapper .list-tbl {}
.list-wrapper .list-tbl th:nth-child(1) {width: 10%;}
.list-wrapper .list-tbl th:nth-child(2) {width: auto;}
.list-wrapper .list-tbl th:nth-child(3) {width: 15%;}
.list-wrapper .list-tbl th:nth-child(4) {width: 15%;}
.list-wrapper .list-tbl th:nth-child(5) {width: 10%;}

.list-wrapper .list-tbl .icon {width: 30px; margin-right: .5em;}
.list-wrapper .list-tbl td {vertical-align: middle;}
.list-wrapper .list-tbl td:nth-child(2) {text-align: left;}




/********************** modal-wrapper *********************/
.modal-wrapper {padding: 1em; text-align: center;}


/********************** footer-wrapper *********************/


/********************** 반응형 설정 ***********************/
@media (max-width: 1399px) {
  
}

@media (max-width: 1199px) {
  .wrapper {margin: 1.5em 1em;}
  .recent-wrapper .list-wrap .list-wp .list {width: 24%; margin-right: 1%;}
  .recent-wrapper .list-wrap .list-wp .list:nth-child(5) {display: none;}
}

@media (max-width: 991px) {
  .recent-wrapper .list-wrap .list-wp .list {width: 31.3333%; margin-right: 2%;}
  .recent-wrapper .list-wrap .list-wp .list:nth-child(4) {display: none;}
  .list-wrapper .list-tbl th:nth-child(5) {display: none;}
  .list-wrapper .list-tbl td:nth-child(5) {display: none;}
}

@media (max-width: 767px) {
  .recent-wrapper {display: none;}
  .list-wrapper .list-tbl th:nth-child(1) {width: 15%;}
  .list-wrapper .list-tbl th:nth-child(3) {width: 25%;}
  .list-wrapper .list-tbl th:nth-child(4) {display: none;}
  .list-wrapper .list-tbl td:nth-child(4) {display: none;}
}

@media (max-width: 575px) {
  .recent-wrapper .list-wrap {display: none;}
  .list-wrapper .list-tbl th:nth-child(1) {width: 20%;}
  .list-wrapper .list-tbl th:nth-child(3) {display: none;}
  .list-wrapper .list-tbl td:nth-child(3) {display: none;}
  .list-wrapper .list-tbl .icon {width: 24px;}
}